@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
body{
    line-height: 1.5;
    font-family: "Poppins",sans-serif;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapa-elsalvador{
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 15em;
    background-color: #181a2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    width: 100vw;
    height: 100vh;
}
 path{
    fill: #3d404b;
    stroke: #8283da;
    transition: 100ms;
 }
 path:hover{
    fill: #9aadff;
    
 }
.container{
    max-width: 2000px;
 
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
 .footer{
    background-color: #181a2c;
   padding:  70px 0;
 }
 .footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
 }
 .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background-color: #a2a8f8;
 }
 .logo{
    transform: translateY(-2px);
 }
 @media(min-width: 576px) {
   .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
 }
    }
   .departamento-interactivo {
    cursor: pointer;
    transition: all 0.3s ease;
}
.departamento-interactivo:hover {
    fill: #9aadff !important;
    stroke: #ffffff00 !important;
    stroke-width: 2px !important;
}
.mapa-tooltip h3 {
    margin: 0 0 10px 0;
    color: #9aadff;
    border-bottom: 1px solid #ff0101;
    padding-bottom: 5px;
    font-size: 16px;
}
.mapa-tooltip p {
    margin: 5px 0;
    font-size: 13px;
    line-height: 1.4;
}

.mapa-tooltip strong {
    color: #9aadff;
}
#points circle {
    fill: #9aadff;
    stroke: #ffffff;
    stroke-width: 1px;
}

#label_points circle {
    fill: transparent;
    stroke: transparent;
}
.departamento-interactivo:focus {
    outline: none !important;
    border: none !important;
}